

<div class="container">
<%= render 'search_form' %>

  <h3>Phase Details</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Phase Type</th>
        <th>Start Date</th>
        <th>Add Engineer</th>
      </tr>
    </thead>
    <tbody>
      <% @phases.each do |phase| %>
        <tr>
          <td><%= phase.phase_type %></td>
          <td><%= phase.start_date %></td>
          <td>
            <%= link_to 'Add Engineer', phase_engineers_path(phase_id: phase.id), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
