<div class="modal-header d-flex justify-content-end">
  <button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<h1>Edit Phase</h1>
<div class="modal-body">
    <%= render 'edit_form', phase: @phase %>
    </div>
</div>
